@model CodeBlue.Models.KnowledgeBase

@{
    ViewBag.Title = "View";
}
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>View Knowledge Base Article</h4>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            
            <div class="row well">
                <div class="col-sm-12">
                    <h4><strong>Title: </strong>@Model.ArticleTitle</h4>
                </div>
            </div>

            <div class="row well">
                <div class="col-sm-12">
                    <p>@Model.Article</p>
                </div>
            </div>

            <div class="row well">
                <div class="col-sm-12">
                    <p><strong>Date Added: </strong>@Model.DateAdded.ToString("D")</p>
                </div>
            </div>

        </div>
        



    </div>
</div>
