
@{
    ViewBag.Title = "Create a Ticket";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Tickets Home", "Index")</li>
    <li class="breadcrumb-item active">Create a Ticket</li>
</ol>

<h2>@ViewBag.Title</h2>

<form>
    <div class="form-group">
        <label for="name">Customer Name: </label>
        <input type="text" class="form-control" id="name"><br />
    </div>
    <div class="form-group">
        <label for="phone">Customer Phone: </label>
        <input type="text" class="form-control" id="phone"><br />
    </div>
    <div class="form-group">
        <label for="subject">Subject: </label>
        <input type="text" class="form-control" id="subject"><br />
    </div>
    <div class="form-group">
        <label for="summary">Summary: </label>
        <textarea class="form-control" id="summary"></textarea><br />
    </div>
    <div class="form-group">
        <label for="priority">Priority: </label>
        <select class="form-control" id="priority">
            <option value="1">Regular</option>
            <option value="2">High</option>
        </select><br />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>