@{
    ViewBag.Title = "Code Blue - Home";
}

<div class="jumbotron">
    <h1 style="text-align: center">code<span style="color: royalblue; font-weight: bolder;">Blue</span> - DeBuggery</h1>
    <img style="display: block; margin: 40px auto;" class="img-rounded" src="~/Content/hateputers.jpg"/>
    <h4 style="text-align: center">You think your computer sucks...  Its probably you. </h4>
</div>
